<div class="afterpay-widget">
  <p>Pay in 4 interest-free installments of {{ product.price | divided_by: 4 | money }} with </p>
  {% comment %}
  <img src="https://cdn.shopify.com/s/files/1/0610/5897/3792/files/SVG.svg?v=1737634601">
  {% endcomment %}
  <img src="https://cdn.shopify.com/s/files/1/0610/5897/3792/files/Button_-_Afterpay_logo_-_Opens_a_dialog_SVG.svg?v=1737634645">
</div>