<div class="kopstorm-offer">
  <div class="cell">
    <span class="sub-heading">Curated Collection</span>
    <h3>Pair & Save 20%</h3>
    <p>Select any two pieces from our artisan collection and receive a complimentary gift box</p>
    <span class="small-text">Valid on selected items. Cannot be combined with other offers.</span>
  </div>
    <div class="cell">
    <span class="sub-heading">Curated Collection</span>
    <h3>Pair & Save 20%</h3>
    <p>Select any two pieces from our artisan collection and receive a complimentary gift box</p>
    <span class="small-text">Valid on selected items. Cannot be combined with other offers.</span>
  </div>
</div>