<div class="kopstorm-rating">
<div class="kopstorm-review">
  <div class="stars">
  <img src="https://cdn.shopify.com/s/files/1/0610/5897/3792/files/Vector_30.svg?v=1737634786">
  <img src="https://cdn.shopify.com/s/files/1/0610/5897/3792/files/Vector_30.svg?v=1737634786">
  <img src="https://cdn.shopify.com/s/files/1/0610/5897/3792/files/Vector_30.svg?v=1737634786">
  <img src="https://cdn.shopify.com/s/files/1/0610/5897/3792/files/Vector_30.svg?v=1737634786">
  <img src="https://cdn.shopify.com/s/files/1/0610/5897/3792/files/Vector_30.svg?v=1737634786">
  </div>
  <p>77 Reviews</p>
</div>

<div class="limited-kopstorm">
  <div class="dot"></div>
  <p>Limited Availability</p>
</div>
</div>