<div class="kopstorm-trustpilot">
  <p>Great</p>
  <img src="https://cdn.shopify.com/s/files/1/0610/5897/3792/files/Img_3.svg?v=1737636734">
  <img src="https://cdn.shopify.com/s/files/1/0610/5897/3792/files/Img_4.svg?v=1737636736">
</div>